.vs/
ApiServicios/App_Start/
ApiServicios/Areas/
ApiServicios/bin/
ApiServicios/Content/
ApiServicios/fonts/
ApiServicios/Models/
ApiServicios/obj/
ApiServicios/Properties/
ApiServicios/Scripts/
ApiServicios/Views/
ApiServicios/ApiServicios.csproj
ApiServicios/ApiServicios.csproj.user
ApiServicios/favicon
ApiServicios/Global.asax
ApiServicios/Global.asax.cs
packages/
Data/bin/
Logica/bin/
Utilitarios/bin/
*.dll
*.sql